/* Universal style */

html {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #1a3300; /*Fallback */
  color: #3b4500ff; /* dark green */
  background-color:  #f2ffe6; /*Fallback */
  background-color: #c7d09b26; /* light green- grey */
}

.content {
  position: relative;
  top: 64px;
}

h1 {
  font-size: 2.5rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.5rem;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0.5rem 0;
}

p {
  line-height: 1.5rem;
  font-weight: 600;
}

/* Heading and Navigation */
header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #59b300; /*Fallback */
  background-color: #c5cd9aff;  /*pail green */
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  margin-right: 0.5rem;
  height: 2rem;
}

.logo span {
  color: #fff;
}

.logo p {
  text-transform: uppercase;
  font-size: 2rem;
}

ul {
  margin-right: 1.5rem;
}

li {
  display: inline;
  background-color: #fff;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
}

nav li:hover,
li:nth-child(6n+0){
  background-color: #1a3300; /*Fallback */
  background-color: #3b4500ff; /*dark green */
  color: #fff;
}
li:nth-child(6n+0){
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

nav li:hover {
  transition: all 300ms linear;
  padding: 0.7rem 1rem;
}

.button h2:hover,
li:nth-child(6n+0):hover {
  color: #1a3300; /*Fallback */
  color: #3b4500ff; /* dark green */
  transition: all 300ms linear;
}

li:nth-child(6n+0):hover {
  background-color: #ffcc00; /*Fallback */
  background-color: #ead100ff; /* oker lighter*/
}

.nav-icons {
  display: none;
}

/* Main */

.button h2:hover {
  background-color: #ffcc00; /*Fallback */
  background-color: #eac905ff; /* oker */
}

.jumbotron {
  display: flex;
  align-items: center;
}

.banner,
article,
.video-box {
  width: 60%;
}

.banner {
  background-color: #fff;
}

.info-boxes {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.banner img,
article img,
video {
  max-width: 100%;
  padding: 2rem 1.5rem;
}

.button-box {
  padding: 1rem;
}

.button-box h1 {
  font-size: 4rem;
}

.button-box p {
  font-size: 2rem;
  margin: 3.5rem auto;
  line-height: 2rem;
}

.button h2 {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #1a3300; /*Fallback */
  background-color: #3b4500ff; /*dark green */
  color: #fff;
  font-weight: 600;
  text-align: center;
  max-width: 80%;
}

.button h2:hover {
  transition: all 300ms linear;
}

/* Info Section */

.byline {
  margin: 0 1.5rem;
}

.byline p {
    margin: 1.5rem 0;
}

#author {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  margin: 2rem 0;
}

.info,
.exhibit {
  display: flex;
  align-items: flex-start;
}

.first-box {
  margin-top: 1rem;
}

#guest {
  margin-bottom: 1rem;
  background-color: #cc9900; /* Fallback */
  background-color: #a98921ff; /* mid-brown */
  color: #001a00; /* Fallback */
  color: #0d1c00ff; /*darker green */
}

#campus {
  background-color: #fff;
}

.box {
  display: flex;
  padding: 1rem;
}

.box img {
  width: 35%;
  height: 35%;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 1.5rem;
}

h4 {
  color: #00004d; /* Fallback */
  color: #1f0c53ff; /* dark blue-purple */
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: underline;
  margin-top: 1rem;
}

h4:hover {
  color: #0000ff; /* Fallback */
  color: #3168d9ff; /* bright blue */
}

.mobile {
  display: none;
}

/* Courses Section */

.center-heading {
  text-align: center;
  padding: 2.5rem 0;
  background-color:  #f2ffe6; /*Fallback */
  background-color:  #c5cd9aae; /* pail light green */
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3.5rem 2.5rem 3.5rem;
  background-color:  #f2ffe6; /*Fallback */
  background-color: #c5cd9aae; /* pail light green */
}

.course-box {
  max-width: 30%;
  margin: 1rem;
  background-color: #fff;
  padding: 1rem;
}

#design:hover {
  background-color: #d27979; /* Fallback */
  background-color: #c7b5a8ff; /*light purple */
}

.course-box img {
  max-width: 100%;
}

.course-box-text {
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}

/* Exhibit Section */

.exhibit p {
  margin-bottom: 3rem;
}

#thesis,
.exhibit {
  background-color: #fff;
}

#research {
  background-color: #d27979; /* Fallback */
  background-color: #c7b5a8ff; /*light purple */
  color: #001a00; /* Fallback */
  color: #0d1c00ff; /*darker green */
}

/* Footer */

footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccffcc /*Fallback */
  background-color: #c5cd9aff; /* pail green */
  padding: 0 1.5rem;
  color: #cc9900; /* Fallback */
  color: #a98921ff; /* mid-brown */
}

footer p {
  font-weight: 400;
}

.social span {
  padding: 0 1rem;
}

footer a {
  padding: 0 0.5rem;
}

footer a:hover {
  color: #00004d; /* Fallback */
  color: #1f0c53ff; /* dark blue-purple */
}

.conditions a {
  text-decoration: underline;
}

/* Responsive Tablet */

@media only screen and (max-width:1024px) {
  .logo p {
    font-size: 1rem;
  }
  .button-box h1 {
    font-size: 3rem;
  }
  .button-box p {
    font-size: 1.5rem;
    margin: 1.5rem auto;
    line-height: 1.4rem;
  }
  .box-text {
    justify-content: flex-start;
    margin: 0 0.5rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-weight: 400;
    line-height: normal;
  }
  .courses {
    padding: 0 auto;
    margin: 0 auto;
  }
  .course-box {
    max-width: 45%;
  }
  h5 {
    font-size: 1.2rem;
  }
  .byline {
    margin-top: 1rem;
  }
  footer a {
    padding: 0 0.2rem;
  }
}

/* Responsive Disign Medium */

@media only screen and (max-width:700px){

  li.nav-icons {
    display: inline-flex;
    background-color:  #59b300; /*Fallback */
    background-color: #c5cd9aff;  /*pail green */
  }
  nav li:hover {
      background-color: inherit;
      padding: none;
    }
  li,
  article {
    display: none;
  }
  .course-box {
    margin: 0.5rem auto;
  }
  .button-box h1 {
    font-size: 2.5rem;
  }
  footer,
  p {
    font-size: 0.8rem;
  }
  .jumbotron,
  .banner,
  .button,
  .info-boxes,
  .video-box,
  .exhibit  {
    display: block;
    width: 100%;
  }
  .banner img,
  video {
    padding: 0;
  }
  .button-box {
    text-align: center;
  }
  .button h2 {
    padding: 0.5rem 0;
    margin: 0 auto;
  }
  .button,
  .info-boxes {
    padding: 0.1rem 0.5rem;
    margin: 0.5rem auto;
  }
  .box-text {
    justify-content: center;
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
}

/* Responsive Design Mobile */

@media only screen and (max-width:480px) {

  .mobile,
  .box,
  .info,
  .courses,
  .course-box,
  .course-box-text,
  .center-heading {
    display: block;
    max-width: 100%;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem auto;
  }
  .box img {
    width: 100%;
    height: 100%;
  }
  .logo p,
  .desktop,
  .course-box img,
  .course-box h5,
  .course-box p,
  .byline,
  .exhibit img,
  .exhibit .box-text,
  #research,
  footer .social,
  footer .conditions {
    display: none;
  }
  .first-box {
    margin-top: 0;
  }
}
